<div [ngClass]="!settings!.isVisible ? 'hidden' : ''" id="edit-expenses-popup"  [style]="'left:' + settings!.xOffset + 'px; top:' + settings!.yOffset + 'px'" >
  <div>
      <div *ngFor="let pos of positions; let i = index" class="input-group mb-1">
          <input type="text" class="form-control" placeholder="Kwota" aria-label="Username" [value]="pos.amount" (blur)="updatePositionAmount($event, pos)">
          <span class="input-group-text">PLN</span>
          <textarea type="text" class="form-control" placeholder="Komentarz" aria-label="Server" [value]="pos.comment" (blur)="updatePositionComment($event, pos)" autofocus></textarea>
          <button class="btn btn-outline-danger"><i class="bi bi-dash"></i></button>
      </div>
      <div class="input-group mb-1">
          <input type="text" class="form-control" placeholder="Kwota" aria-label="Username" (blur)="addPosition($event)" [(ngModel)]="newPositionAmount" #amountInput>
          <span class="input-group-text">PLN</span>
          <textarea type="text" class="form-control" placeholder="Komentarz" aria-label="Server" [(ngModel)]="newPositionComment" [disabled]="newPositionAmount == null"></textarea>
          <button class="btn btn-outline-danger"><i class="bi bi-dash"></i></button>
      </div>
      <!-- <div class="input-group mb-3" *ngIf="newExpenseAmount?.length > 0">
          <input type="text" class="form-control" placeholder="Kwota" aria-label="Username" (focus)="focusAmountInput()">
          <span class="input-group-text">PLN</span>
          <textarea type="text" class="form-control" placeholder="Komentarz" aria-label="Server" disabled></textarea>
          <button class="btn btn-outline-danger"><i class="bi bi-dash"></i></button>
      </div> -->
  </div>
</div>
