<div class="mb-3 ml-0">
    <div class="row g-2">
        <div class="col-sm">
            <select [(ngModel)]="selectedDate.year" class="form-select">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
        </div>
        <div class="col-sm">
            <select [(ngModel)]="selectedDate.month" class="form-select">
                <option *ngFor="let month of months" [value]="month.value">{{ month.key }}</option>
            </select>
        </div>
        <div class="col-sm">
            <button (click)="confirmDate()" type="button" class="btn btn-primary">Show</button>
        </div>
    </div>
</div>
