<app-positions-list-popover
    [positions]="dailyExpenses.positions">
</app-positions-list-popover>

<app-positions-form-popover
    [positions]="dailyExpenses.positions" 
    (expenseAdded)="addExpense($event)"
    (expenseUpdated)="updateExpense($event)" 
    (expenseDeleted)="deleteExpense($event)">
</app-positions-form-popover>

<app-date-selector 
    [year]="selectedYear" 
    [month]="selectedMonth" 
    (selectDate)="changeDate($event)">
</app-date-selector>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Category / day</th>
                <th *ngFor="let day of days">{{day}}</th>
                <th>SUM</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let category of expensesTable">
                <tr class='table-secondary fw-bold'>
                    <td class="pt-0 pb-0">{{category.name}}</td>
                    <td class="p-0" *ngFor="let dailyExpense of category.dailyExpenses">
                        <ng-container *ngIf="dailyExpense > 0">
                            {{dailyExpense}}
                        </ng-container>
                    </td>
                    <td class="p-0">{{sum(category.dailyExpenses) > 0 ? sum(category.dailyExpenses) : ''}}</td>
                </tr>
                <tr *ngFor="let subcategory of category.subcategories">
                    <td class="pt-0 pb-0">{{subcategory.name}}</td>
                    <td *ngFor="let dailyExpense of subcategory.dailyExpenses; let i = index" class="p-0 category-day" (click)="showExpensesFormPopover($event)" (mouseover)="showExpensesListPopup($event, category.id, subcategory.id, i+1)">
                        <ng-container *ngIf="dailyExpense > 0">
                            {{dailyExpense}}
                        </ng-container>
                    </td>
                    <td class="p-0 table-warning">{{sum(subcategory.dailyExpenses) > 0 ? sum(subcategory.dailyExpenses) : ''}}</td>
                </tr>
            </ng-container>
            <tr class="table-warning">
                <th class="pt-0 pb-0">SUM</th>
                <th class="p-0" *ngFor="let sum of dailySummary">
                    <ng-container *ngIf="sum > 0">
                        {{sum}}
                    </ng-container>
                </th>
                <th class="p-0 table-danger">{{monthlySummary}}</th>
            </tr>
        </tbody>
    </table>
</div>
