<aside>
    <ul class="nav flex-column nav-pills min-vh-100 position-absolute text-center p-3" style="width: 250px;">
        <a class="navbar-brand" href="#">
            Budget Manager
        </a>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/expenses']" routerLinkActive="active">Expenses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/incomes']" routerLinkActive="active">Incomes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categories/expenses']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notifications']" routerLinkActive="active">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="signOut()">Sign Out</a>
        </li>
    </ul>
</aside>