<app-positions-list-popover
    [positions]="dailyIncomes.positions">
</app-positions-list-popover>

<app-positions-form-popover
    [positions]="dailyIncomes.positions" 
    (positionAdded)="addIncome($event)"
    (positionUpdated)="updateIncome($event)" 
    (positionDeleted)="deleteIncome($event)">
</app-positions-form-popover>

<app-date-selector [year]="selectedYear" [month]="selectedMonth" (selectDate)="changeDate($event)"></app-date-selector>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Category / day</th>
                <th *ngFor="let day of days">{{day}}</th>
                <th>SUM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of incomesTable">
                <td class="pt-0 pb-0">{{category.name}}</td>
                <td *ngFor="let dailyExpense of category.dailyIncomes; let i = index" class="p-0 category-day" (click)="showIncomesFormPopup($event, category.id, i+1)" (mouseover)="showIncomesListPopup($event, category.id, i+1)">
                    <ng-container *ngIf="dailyExpense > 0">
                        {{dailyExpense}}
                    </ng-container>
                </td>
                <td class="p-0 table-warning">{{sum(category.dailyIncomes) > 0 ? sum(category.dailyIncomes) : ''}}</td>
            </tr>
            <tr class="table-warning">
                <th class="pt-0 pb-0">SUM</th>
                <th class="p-0" *ngFor="let sum of dailySummary">
                    <ng-container *ngIf="sum > 0">
                        {{sum}}
                    </ng-container>
                </th>
                <th class="p-0 table-danger">{{monthlySummary}}</th>
            </tr>
        </tbody>
    </table>
</div>