<h2>Incomes</h2>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Category name" aria-label="Category name" [(ngModel)]="newCategoryName">
    <button class="btn btn-success" type="button" (click)="addCategory()" [disabled]="!isNewCategoryNameValid()"><i class="bi bi-plus"></i>Add</button>
</div>
<div>
    <table class="table">
        <tbody>
            <tr *ngFor="let category of categories; let i = index">
                <td>
                    <input type="text" class="form-control" *ngIf="category.id == editedCategoryId" [(ngModel)]="editedCategoryNewName">
                    <span *ngIf="category.id != editedCategoryId">{{category.name}}</span>
                </td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-warning me-2" *ngIf="category.id != editedCategoryId" (click)="setEditedCategoryId(category.id)"><i class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-sm btn-success me-2" *ngIf="category.id == editedCategoryId" (click)="editCategoryName(category.id)"><i class="bi bi-check-lg"></i></button>
                    <button type="button" class="btn btn-sm btn-danger me-2" *ngIf="category.id == editedCategoryId" (click)="setEditedCategoryId()"><i class="bi bi-x"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteCategory(category.id)"><i class="bi bi-trash3" ></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
